<!--
@require "exchangeCenter.css"
@require "proDetailEntity.js"
-->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>礼品详情</title>
    <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <script src="../../lib/js/require.js"></script>
</head>
<body>
<div class="main login exchangeTelBill" ms-controller="vm" style="margin-top: 0;">
    <img ms-attr-src="imgs" style="margin: 0 auto"/>

    <div class="weui_cells" id="member-cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p class="telName">{{names}}</p>
                <p class="point">需用积分：<span>{{needPoint}}</span></p>
            </div>
            <div class="weui_cell_ft pointvalue">
                当前可用积分：<span>{{userToken=='' || userToken==null ? '未登录' : pointValue}}</span>
            </div>
        </div>
    </div>
    <div class="intro">
        <h1>礼品详情</h1>
        <p>{{comment}}</p>
    </div>
    <a href="javascript:;" class="weui_btn weui_btn_primary" ms-click="exchangeBtn">立即兑换</a>
</div>
</body>
</html>