
<!--
@require "store.css"
@require "store.js"
-->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>官方商城</title>
    <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <script src="../../lib/js/require.js"></script>
</head>
<body>
<div class="main" ms-controller="vm">
   <ul class="storeUl">
       <li ms-repeat="array" ms-click="linkToOther(el)">
           <img ms-attr-src="el.images[0].path" alt=""/>
       </li>
       <p class="loadMore" ms-if="array.length<1">暂无相关数据</p>
   </ul>
</div>
</body>
</html>