<div id="left-menu" class="aside">
    <nav class="side-box">
        <ul class="side-nav">
            <li><a href="index.html" data-href="home.html"><em class="navIconbox"><img class="img-responsive" src="assets/images/icon/icon_home.png"></em>
                <span>首页</span></a></li>
            <li><a data-href="verify.html" class="verify-tab"><em class="navIconbox"><img class="img-responsive" src="assets/images/icon/icon_lip.png"></em>
                <span>验证有礼</span></a></li>
            <li><a href="brand-feature.html" data-href="pro_feature.html"><em class="navIconbox"><img class="img-responsive" src="assets/images/icon/icon_tc.png"></em>
                <span>产品特色</span></a></li>
            <li><a href="brand-culture.html" data-href="BrandCulture.html"><em class="navIconbox"><img class="img-responsive" src="assets/images/icon/icon_spwh.png"></em>
                <span>品牌文化</span></a></li>
            <li><a href="brand-generalize.html" data-href="pinpai_spread_list.html"><em class="navIconbox"><img class="img-responsive" src="assets/images/icon/icon_tg.png"></em>
                <span>品牌推广</span></a></li>
            <li><a class="ucenter-tab"><em class="navIconbox"><img class="img-responsive" src="assets/images/icon/icon_user.png">
            </em><span style="padding: 4px;">会员中心</span></a></li>
            <li><a href="StoreIndex.html" data-href="memberCenter.html"><em class="navIconbox"><img class="img-responsive" src="assets/images/icon/icon_shoping.png">
            </em><span style="padding: 4px;">积分商城</span></a></li>
        </ul>
    </nav>
</div>
