
<!--
@require "../member/memberCenter.css"
@require "recharge.js"
-->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>充值号码</title>
    <meta content="descriptions" charset="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <script src="../../lib/js/require.js"></script>
</head>
<body>
<div class="main login"  ms-controller="vm">
    <div class="phone">
        <span class="icon-02"></span>
        <div><input type="text" placeholder="充值号码" ms-duplex="rephone" name="rephone" style="border-top: 1px solid #dad8d9;"/></div>
    </div>
    <a href="javascript:;" class="weui_btn weui_btn_primary" ms-click="submitBtn">提交</a>
</div>
</body>
</html>
